.card-room-container {
    display: flex;
    flex-direction: column;   /* Stacks the table and button vertically, puts everything in the same column */
    align-items: center;      /* Centers them horizontally */
    row-gap: 40px;      
    height: 100dvh;         /* Adds neat spacing between the table and the button */
    box-sizing: border-box;
}


/* 💡 This container needs to hold the scale frame now */
.poker-table-container {
    position: relative;       /* Anchor for your absolute positioned <Player /> elements */
    height: 70dvh;            /* Forces the wrapper to take up 60% of the screen height */
    aspect-ratio: 2 / 1;
    max-width: 100%; 
    box-sizing: border-box; 
    padding: 20px;
}

.card-container {
    height: 50px;
    width: 50px;
}

.poker-table {
    width: 100%; 
    height: 100%;
}
.player {
    position: absolute;
    transform: translate(-50%, -50%); /* Centers the player asset directly on its coordinate point */
    white-space: nowrap;               /* Prevents usernames from wrapping awkwardly */
    height: 8dvh;
    width: 8dvh;
}
.bottom-1{
    top: 100%;
    left: 25%;
}
.bottom-2 {
    top: 100%;
    left: 50%;
}
.bottom-3 {
    top: 100%;
    left: 75%; 
}

.top-1 {
    top: 0%;
    left: 25%;
}

.top-2 {
    top: 0%;
    left: 50%;
}
.top-3 {
    top: 0%;
    left: 75%; 
}

.left-1 {
    top: 75%; 
    left: 3%;
}

.left-2 {
    top: 25%;
    left: 3%;
} 

.right-1 {
    top: 25%;
    left: 97%
}

.right-2 {
    top: 75%; 
    left: 97%;
}
